
  <!--footer Section Start Here -->
  <footer id="footer"  >
    <div class="container">
      <div class="row">

        <!--primary-footer Start Here -->
        <section class="primary-footer clearfix">
          <div class="col-sm-6 col-md-3 intro footer-content">
            <h3>Quem Somos</h3>
            <div class="footer-block"> <strong>Nós amamos quem somos e estamos muito orgulhosos de fazer parte da sua renda extra.</strong>
              <p> Estamos oferecendo uma forma de você conseguir alugar seus bens com rapidez e segurança.</p>
              <p> Com nossa ferramenta você consegue saber o histórico de seu locatária.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 footer-content latets-article">
            <h3>Depoimentos</h3>
            <div class="row footer-block">
              <div class="col-xs-6 col-sm-12">
                <article class="article-content">
                  <figure class="article-pic"> <img src="assets/img/post-img.jpg" alt="Curabitur amet magna quam" /> </figure>
                  <div class="post-content">
                    <h4><a href="" title="Curabitur amet magna quam"> Amei essa forma de negociar.</a></h4>
                    <span class="post-date"><i class="fa fa-calendar"></i>March 31, 2014</span> </div>
                </article>
              </div>
              <div class="col-xs-6 col-sm-12">
                <article class="article-content">
                  <figure class="article-pic"> <img src="assets/img/post-img.jpg" alt="Curabitur amet magna quam" /> </figure>
                  <div class="post-content">
                    <h4><a href="" title="Curabitur amet magna quam"> Amei essa forma de negociar.</a></h4>
                    <span class="post-date"><i class="fa fa-calendar"></i>March 31, 2014</span> </div>
                </article>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 footer-content">
            <h3>Mata Do Site</h3>
            <div class="footer-block">
                <p> <a href="blog-post-1.html">Home</a> </p>
                <p> <a href="blog-post-1.html">Pesquisa</a> </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 footer-content vcard">
            <h3>Contato</h3>
            <div class="footer-block">
              <span class="tel"> <i class="fa fa-calendar">&nbsp;</i> <a href="tel:18003456789">55 21 986823562</a> </span> <span class="email"> <i class="fa fa-envelope">&nbsp;</i> <a href="mailto:rendabens@gmail.com">rendabens@gmail.com</a> </span> </div>
          </div>
        </section>
        <!--primary-footer End Here -->

      </div>
    </div>
    <div class="secondary-footer">
      <div class="container">
        <div class="row">
          <!--secondary-footer Start Here -->
          <section class="col-xs-12"> <span class="copyright">Renda Bens © Copyright 2017 - http://www.rendabens.com/</span>
            <ul class="social-icons">
              <li> <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a> </li>
            </ul>
          </section>
          <!--secondary-footer End Here -->
        </div>
      </div>
    </div>
  </footer>
  <a href="javascript:;" class="scroll-top"> <i class="fa fa-long-arrow-up"></i> </a>
  <!--footer Section End Here -->

<!--countdown Js-->
<script src="assets/js/jquery.plugin.js"></script>
<script src="assets/js/jquery.countdown.min.js"></script>
<script src="assets/js/masonry.pkgd.min.js"></script>
<!--countdown Js End -->
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.flexslider.js"></script>
<script src="assets/js/jquery.appear.js"></script>
<script src="assets/js/jquery.shuffle.js"></script>

<!-- flexslider Js -->
<script src="assets/js/site.js"></script>
