<!--header Section Start Here -->
<header id="header">

  <!--headerBox Start Here -->
  <div class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 top">
                <a href="../Corporate/index.html" class="logo"><img src="assets/img/logo.png" alt="" /></a>
                <section class="menu-wrap">
                  <div class="header-widget">
                    <ul class="nav">
                      <li class="menu-sec-parent">
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#myModal" ng-if="usuario == ''">Login</a>
                            {{ usuario }}
                      </li>
                      <li class="menu-sec-parent">
                        <button class="btn btn-default btn-menu"> Publique </button>
                      </li>
                    </ul>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!--headerCntr End Here -->
</header>
<!--header Section End Here -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index:99999">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <script type="text/ng-template" id="/login" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Login</h4>
        </div>
        <div class="modal-body" ng-controller="LoginController">
          <div id="login-page" >
                  <form class="form-login" method="post" enctype="multipart/form-data" ng-submit="login()">
                    <div class="login-wrap">
                        <input type="text" class="form-control" placeholder="User ID" autofocus ng-model="usuario.login">
                        <br>
                        <input type="password" class="form-control" placeholder="Password" ng-model="usuario.pass">
                        <label class="checkbox">
                            <span class="pull-right">
                                <a data-toggle="modal" href="login.html#myModal"> Esqueceu a senha? </a>
                            </span>
                        </label>
                        <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> Logar</button>

                        <div class="login-social-link">
                            <div class="modal-footer centered">
                            <p>Ou você pode fazer login através de sua rede social</p>
                                <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
                            </div>
                            <div class="registration">Não tem uma conta ainda?<br/>
                                <a class="" href="#/cadastro">
                                    Criar conta.
                                </a>
                            </div>
                        </div>

                    </div>
                  </form>
          </div>
        </div>
      </script>
      <script type="text/ng-template" id="/cadastro">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Cadastrar Usuário</h4>
        </div>
        <div class="modal-body" ng-controller="CadastroController">
          <div id="login-page">
            <form class="form-login" method="post" enctype="multipart/form-data" ng-submit="save()">
              <div class="login-wrap">
                  <input type="text" class="form-control" placeholder="User ID" autofocus ng-model="usuario.login">
                  <br>
                  <input type="text" class="form-control" placeholder="Email" ng-model="usuario.email">
                  <br>
                  <input type="password" class="form-control" placeholder="Password" ng-model="usuario.pass">
                  <br />
                  <div class="modal-footer">
                      <a class="btn" href="#/">Cancel</a>
                      <button class="btn btn-theme" type="submit">Submit</button>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </script>

      <ng-view></ng-view>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right">Fechar</button>
      </div>

    </div>
  </div>
</div>

<!--script for this page-->
<script src="/angular/login.js"></script>
