<!--header Section Start Here -->
<header id="header">

  <!--headerBox Start Here -->
  <div class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 top">
                  <a href="../Corporate/index.html" class="logo"><img src="assets/img/logo.png" alt="" /></a>
                  <section class="menu-wrap">
                    <ul class="nav">
                      <li class="menu-sec-parent">
                        <a href="#">Home</a>
                      </li>
                    </ul>
                    <div class="header-widget">
                      <ul class="nav">
                        <li class="menu-sec-parent">
                          <button class="btn btn-default btn-menu"> Publique seus bens</button>
                        </li>
                      </ul>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  <!--headerCntr End Here -->
</header>
<!--header Section End Here -->
