<!DOCTYPE html>
<html lang="en">

<% include partials/head %>

<body class="homepage-17">
<div class="loader-block">
  <div class="loader">Loading...</div>
</div>
<!--Wrapper Section Start Here -->
<div id="wrapper">

  <!-- **********************************************************************************************************************************************************
  TOP BAR CONTENT & NOTIFICATIONS
  *********************************************************************************************************************************************************** -->
  <!--header start-->
        <% include partials/header %>
  <!--header end-->

  <!--slider Section Start Here -->
  <section id="slider">
    <div class="container-fluid">
      <div class="row">

        <!--slider Start Here -->
        <div class="banner">
          <div class="slider autodealer-slide">
             <img src="assets/img/slider-17.jpg" alt="">
          </div>
          <div class="resto-info">
            <div class="container">
              <ul class="auto-tab-list">
                <li class="active"> <a href="#" class="tab-block1">Carros</a> </li>
                <li> <div class="tab-block2">Casas (Em Breve)</div> </li>
                <li> <div class="tab-block3">Roupas (Em Breve)</div> </li>
                <li> <div class="tab-block4">Máquinas (Em Breve)</div> </li>
              </ul>
              <div class="tabcontent">
                <div class="mid tab-block1 clearfix">
                  <div class=" col-md-4 form-field">
                    <div class="btn-group">
                      <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown"> <span class="select-text" >Any Make</span><span class="caret">&nbsp;</span> </button>
                      <ul class="dropdown-menu choice">
                        <li> <a href="#">BMW</a> </li>
                        <li> <a href="#">FORD </a> </li>
                        <li> <a href="#">HOLDEN</a> </li>
                        <li> <a href="#">HONDA </a> </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 form-field">
                    <div class="btn-group">
                      <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown"> <span class="select-text" >Any Fuel</span><span class="caret">&nbsp;</span> </button>
                      <ul class="dropdown-menu choice">
                        <li> <a href="#">Deisel</a> </li>
                        <li> <a href="#">Petrol </a> </li>
                        <li> <a href="#">CNG</a> </li>
                        <li> <a href="#">Nitrogen Oxide </a> </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 form-field">
                    <div class="row">
                      <div class="col-xs-6 form-field">
                        <div class="btn-group">
                          <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown"> <span class="select-text" > Region </span><span class="caret">&nbsp;</span> </button>
                          <ul class="dropdown-menu choice">
                            <li> <a href="#">Deisel</a> </li>
                            <li> <a href="#">Petrol </a> </li>
                            <li> <a href="#">CNG</a> </li>
                            <li> <a href="#">Nitrogen Oxide </a> </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <button class="btn btn-default btn-effect"> Encontrar <i> <img src="assets/img/arrow-btn.png" alt="" /> </i> </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--slider End Here -->

      </div>
    </div>
  </section>
  <!--slider Section End Here -->
  <!--   Recent listing        -->

  <section class="recent-listing">
    <div class="container">
      <div class="car-listing">
        <h2 class="h3"> Recem Cadastrados </h2>
        <div class="owl-carousel" id="recent-car-list">
          <figure class="slide-wrap"> <img src="assets/img/car-list-1.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 7 minutes ago </span>
              <h4><a href="autodealer-three.html">Ferrari 360 Modena 2dr F1 3.6</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-2.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 7 minutes ago </span>
              <h4><a href="autodealer-three.html">Citroen DS3 1.6 Airdream Hatchback</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 120,800 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-3.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 12 minutes ago </span>
              <h4><a href="autodealer-three.html">BMW M3 2dr DCT 4.0</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-4.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 14 minutes ago </span>
              <h4> <a href="autodealer-three.html">Ferrari 360 Modena 2dr F1 3.6</a> </h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-1.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 7 minutes ago </span>
              <h4> <a href="autodealer-three.html">Ferrari 360 Modena 2dr F1 3.6</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-2.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 7 minutes ago </span>
              <h4><a href="autodealer-three.html">Citroen DS3 1.6 Airdream Hatchback</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 120,800 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-3.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 12 minutes ago </span>
              <h4><a href="autodealer-three.html">BMW M3 2dr DCT 4.0</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-4.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 14 minutes ago </span>
              <h4><a href="autodealer-three.html">Ferrari 360 Modena 2dr F1 3.6</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-1.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 7 minutes ago </span>
              <h4><a href="autodealer-three.html">Ferrari 360 Modena 2dr F1 3.6</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-2.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 7 minutes ago </span>
              <h4><a href="autodealer-three.html">Citroen DS3 1.6 Airdream Hatchback</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 120,800 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-3.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 12 minutes ago </span>
              <h4><a href="autodealer-three.html">BMW M3 2dr DCT 4.0</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-4.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 14 minutes ago </span>
              <h4><a href="autodealer-three.html">Ferrari 360 Modena 2dr F1 3.6</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <!--  Car Sale -->
  <section class="car-sale">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <h2 class="h3"> Used Cars for Sale </h2>
          <div class="car-for-sale-wrapper">
            <article class="car-for-sale">
              <figure> <img src="assets/img/car-for-sale-1.jpg" alt="" /> </figure>
              <div class="car-description">
                <h4> <a href="autodealer-three.html">Ferrari 360 Modena 2dr F1 3.6</a> </h4>
                <ul class="dealer-list clearfix">
                  <li> <a href="#">Dealer </a> </li>
                  <li> <a href="#">Dealer Used </a> </li>
                  <li> <a href="#">VIC </a> </li>
                </ul>
                <ul class="car-properties" >
                  <li > <span>4 cyl, 1.5 L</span><span>Automatic</span> </li>
                  <li> <span>Hatchback</span><span>2002</span> </li>
                </ul>
                <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
              </div>
            </article>
            <article class="car-for-sale">
              <figure> <img src="assets/img/car-for-sale-2.jpg" alt="" /> </figure>
              <div class="car-description">
                <h4> <a href="autodealer-three.html">Citroen DS3 1.6 Airdream Hatchback</a> </h4>
                <ul class="dealer-list clearfix">
                  <li> <a href="#">Dealer </a> </li>
                  <li> <a href="#">Dealer Used </a> </li>
                  <li> <a href="#">VIC </a> </li>
                </ul>
                <ul class="car-properties" >
                  <li > <span>4 cyl, 1.5 L</span><span>Automatic</span> </li>
                  <li> <span>Hatchback</span><span>2002</span> </li>
                </ul>
                <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
              </div>
            </article>
            <article class="car-for-sale">
              <figure> <img src="assets/img/car-for-sale-3.jpg" alt="" /> </figure>
              <div class="car-description">
                <h4><a href="autodealer-three.html"> BMW M3 2dr DCT 4.0</a> </h4>
                <ul class="dealer-list clearfix">
                  <li> <a href="#">Dealer </a> </li>
                  <li> <a href="#">Dealer Used </a> </li>
                  <li> <a href="#">VIC </a> </li>
                </ul>
                <ul class="car-properties" >
                  <li > <span>4 cyl, 1.5 L</span><span>Automatic</span> </li>
                  <li> <span>Hatchback</span><span>2002</span> </li>
                </ul>
                <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
              </div>
            </article>
            <article class="car-for-sale">
              <figure> <img src="assets/img/car-for-sale-4.jpg" alt="" /> </figure>
              <div class="car-description">
                <h4><a href="#"> BMW M3 2dr DCT 4.0</a> </h4>
                <ul class="dealer-list clearfix">
                  <li> <a href="#">Dealer </a> </li>
                  <li> <a href="#">Dealer Used </a> </li>
                  <li> <a href="#">VIC </a> </li>
                </ul>
                <ul class="car-properties" >
                  <li > <span>4 cyl, 1.5 L</span><span>Automatic</span> </li>
                  <li> <span>Hatchback</span><span>2002</span> </li>
                </ul>
                <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
              </div>
            </article>
            <article class="car-for-sale">
              <figure> <img src="assets/img/car-for-sale-5.jpg" alt="" /> </figure>
              <div class="car-description">
                <h4><a href="autodealer-three.html"> BMW M3 2dr DCT 4.0</a> </h4>
                <ul class="dealer-list clearfix">
                  <li> <a href="#">Dealer </a> </li>
                  <li> <a href="#">Dealer Used </a> </li>
                  <li> <a href="#">VIC </a> </li>
                </ul>
                <ul class="car-properties" >
                  <li > <span>4 cyl, 1.5 L</span><span>Automatic</span> </li>
                  <li> <span>Hatchback</span><span>2002</span> </li>
                </ul>
                <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
              </div>
            </article>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3 col-lg-push-1">
          <section class="makes">
            <h2 class="h3"> Rank Estados </h2>
            <div class="car-make-list">
              <ul>
                <li> Rio de Janeiro <span>1 </span> </li>
              </ul>
            </div>
            <a href="#">view all makes</a> </section>
          <section class="popular-cars">
            <h2 class="h3"> Rank Usúarios </h2>
            <ul>
              <li>
                <a href="#" class="car-price"><figure><img src="assets/img/popular-car-1.jpg" alt="" /> </figure>
                <h4>Rafael Pereira Ceciliano Braga 5 *</h4></a>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </section>
  <!--  Car Sale -->

  <!--subscription Start Here -->
  <section class="subscription anim-section clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h2>Cadastre-se hoje para o Newsletter</h2>
        </div>
        <div class="col-md-6 col-sm-12 subscription-field">
          <input type="text" placeholder="Entre com seu e-mail" class="subscription-input" />
          <button class="btn btn-default btn-effect" type="button"> Enviar<i><img alt="" src="assets/img/arrow-btn.png"></i> </button>
        </div>
      </div>
    </div>
  </section>
  <!--subscription End Here -->

  <!--main content end-->
  <!--footer start-->
        <% include partials/footer %>
  <!--footer end-->

</body>
</html>
