<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Gifted Autodealer</title>
<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
<!-- google fonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,700%7COxygen:400,700%7COpen+Sans%7CPT+Sans%7CPT+Sans+Narrow:400,700%7CDamion' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
<!-- Bootstrap -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/font-awesome.min.css" rel="stylesheet">
<link href="assets/css/global.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/owl.carousel.css" rel="stylesheet">
<link href="assets/css/auto-dealer.css" rel="stylesheet">
<link href="assets/css/responsive.css" rel="stylesheet">
<link href="assets/css/skin.less" rel="stylesheet/less">
<link href="assets/css/transition-effect.css" rel="stylesheet">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>
<body class="homepage-17">
<div class="loader-block">
  <div class="loader">Loading...</div>
</div>

<!--header Section Start Here -->
<header id="header">

  <!--headerBox Start Here -->
  <div class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 top">
                  <a href="../Corporate/index.html" class="logo"><img src="assets/img/logo.png" alt="" /></a>
                  <section class="menu-wrap">
                    <ul class="nav">
                      <li class="menu-sec-parent">
                      </li>
                    </ul>
                    <div class="header-widget">
                      <ul class="nav">
                        <li class="menu-sec-parent">
                          <button class="btn btn-default btn-menu">Publiquar</button>
                        </li>
                      </ul>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  <!--headerCntr End Here -->
</header>
<!--header Section End Here -->

<!--Wrapper Section Start Here -->
<div id="wrapper">
  <!--slider Section Start Here -->
  <section id="slider">
    <div class="container-fluid">
      <div class="row">

        <!--slider Start Here -->
        <div class="banner">
          <div class="slider autodealer-slide">
             <img src="assets/img/slider-17.jpg" alt="">
          </div>
          <div class="resto-info">
            <div class="container">
              <ul class="auto-tab-list">
                <li class="active"> <a href="#" class="tab-block1">Carros</a> </li>
                <li> <div class="tab-block2">Casas (Em Breve)</div> </li>
                <li> <div class="tab-block3">Roupas (Em Breve)</div> </li>
                <li> <div class="tab-block4">Máquinas (Em Breve)</div> </li>
              </ul>
              <div class="tabcontent">
                <div class="mid tab-block1 clearfix">
                  <div class=" col-md-4 form-field">
                    <div class="btn-group">
                      <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown"> <span class="select-text" >Any Make</span><span class="caret">&nbsp;</span> </button>
                      <ul class="dropdown-menu choice">
                        <li> <a href="#">BMW</a> </li>
                        <li> <a href="#">FORD </a> </li>
                        <li> <a href="#">HOLDEN</a> </li>
                        <li> <a href="#">HONDA </a> </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 form-field">
                    <div class="btn-group">
                      <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown"> <span class="select-text" >Any Fuel</span><span class="caret">&nbsp;</span> </button>
                      <ul class="dropdown-menu choice">
                        <li> <a href="#">Deisel</a> </li>
                        <li> <a href="#">Petrol </a> </li>
                        <li> <a href="#">CNG</a> </li>
                        <li> <a href="#">Nitrogen Oxide </a> </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 form-field">
                    <div class="row">
                      <div class="col-xs-6 form-field">
                        <div class="btn-group">
                          <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown"> <span class="select-text" > Region </span><span class="caret">&nbsp;</span> </button>
                          <ul class="dropdown-menu choice">
                            <li> <a href="#">Deisel</a> </li>
                            <li> <a href="#">Petrol </a> </li>
                            <li> <a href="#">CNG</a> </li>
                            <li> <a href="#">Nitrogen Oxide </a> </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <button class="btn btn-default btn-effect"> Encontrar <i> <img src="assets/img/arrow-btn.png" alt="" /> </i> </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--slider End Here -->

      </div>
    </div>
  </section>
  <!--slider Section End Here -->
  <!--   Recent listing        -->

  <section class="recent-listing">
    <div class="container">
      <div class="car-listing">
        <h2 class="h3"> Recem Alugados </h2>
        <div class="owl-carousel" id="recent-car-list">
          <figure class="slide-wrap"> <img src="assets/img/car-list-1.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 7 minutes ago </span>
              <h4><a href="autodealer-three.html">Ferrari 360 Modena 2dr F1 3.6</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-2.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 7 minutes ago </span>
              <h4><a href="autodealer-three.html">Citroen DS3 1.6 Airdream Hatchback</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 120,800 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-3.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 12 minutes ago </span>
              <h4><a href="autodealer-three.html">BMW M3 2dr DCT 4.0</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-4.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 14 minutes ago </span>
              <h4> <a href="autodealer-three.html">Ferrari 360 Modena 2dr F1 3.6</a> </h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-1.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 7 minutes ago </span>
              <h4> <a href="autodealer-three.html">Ferrari 360 Modena 2dr F1 3.6</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-2.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 7 minutes ago </span>
              <h4><a href="autodealer-three.html">Citroen DS3 1.6 Airdream Hatchback</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 120,800 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-3.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 12 minutes ago </span>
              <h4><a href="autodealer-three.html">BMW M3 2dr DCT 4.0</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-4.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 14 minutes ago </span>
              <h4><a href="autodealer-three.html">Ferrari 360 Modena 2dr F1 3.6</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-1.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 7 minutes ago </span>
              <h4><a href="autodealer-three.html">Ferrari 360 Modena 2dr F1 3.6</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-2.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 7 minutes ago </span>
              <h4><a href="autodealer-three.html">Citroen DS3 1.6 Airdream Hatchback</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 120,800 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-3.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 12 minutes ago </span>
              <h4><a href="autodealer-three.html">BMW M3 2dr DCT 4.0</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
            </figcaption>
          </figure>
          <figure class="slide-wrap"> <img src="assets/img/car-list-4.jpg" alt="" />
            <figcaption> <span class="time-elapsed"> 14 minutes ago </span>
              <h4><a href="autodealer-three.html">Ferrari 360 Modena 2dr F1 3.6</a></h4>
              <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <!--  Car Sale -->
  <section class="car-sale">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <h2 class="h3"> Destaque </h2>
          <div class="car-for-sale-wrapper">
            <article class="car-for-sale">
              <figure> <img src="assets/img/car-for-sale-1.jpg" alt="" /> </figure>
              <div class="car-description">
                <h4> <a href="autodealer-three.html">Ferrari 360 Modena 2dr F1 3.6</a> </h4>
                <ul class="dealer-list clearfix">
                  <li> <a href="#">Dealer </a> </li>
                  <li> <a href="#">Dealer Used </a> </li>
                  <li> <a href="#">VIC </a> </li>
                </ul>
                <ul class="car-properties" >
                  <li > <span>4 cyl, 1.5 L</span><span>Automatic</span> </li>
                  <li> <span>Hatchback</span><span>2002</span> </li>
                </ul>
                <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
              </div>
            </article>
            <article class="car-for-sale">
              <figure> <img src="assets/img/car-for-sale-2.jpg" alt="" /> </figure>
              <div class="car-description">
                <h4> <a href="autodealer-three.html">Citroen DS3 1.6 Airdream Hatchback</a> </h4>
                <ul class="dealer-list clearfix">
                  <li> <a href="#">Dealer </a> </li>
                  <li> <a href="#">Dealer Used </a> </li>
                  <li> <a href="#">VIC </a> </li>
                </ul>
                <ul class="car-properties" >
                  <li > <span>4 cyl, 1.5 L</span><span>Automatic</span> </li>
                  <li> <span>Hatchback</span><span>2002</span> </li>
                </ul>
                <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
              </div>
            </article>
            <article class="car-for-sale">
              <figure> <img src="assets/img/car-for-sale-3.jpg" alt="" /> </figure>
              <div class="car-description">
                <h4><a href="autodealer-three.html"> BMW M3 2dr DCT 4.0</a> </h4>
                <ul class="dealer-list clearfix">
                  <li> <a href="#">Dealer </a> </li>
                  <li> <a href="#">Dealer Used </a> </li>
                  <li> <a href="#">VIC </a> </li>
                </ul>
                <ul class="car-properties" >
                  <li > <span>4 cyl, 1.5 L</span><span>Automatic</span> </li>
                  <li> <span>Hatchback</span><span>2002</span> </li>
                </ul>
                <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
              </div>
            </article>
            <article class="car-for-sale">
              <figure> <img src="assets/img/car-for-sale-4.jpg" alt="" /> </figure>
              <div class="car-description">
                <h4><a href="#"> BMW M3 2dr DCT 4.0</a> </h4>
                <ul class="dealer-list clearfix">
                  <li> <a href="#">Dealer </a> </li>
                  <li> <a href="#">Dealer Used </a> </li>
                  <li> <a href="#">VIC </a> </li>
                </ul>
                <ul class="car-properties" >
                  <li > <span>4 cyl, 1.5 L</span><span>Automatic</span> </li>
                  <li> <span>Hatchback</span><span>2002</span> </li>
                </ul>
                <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
              </div>
            </article>
            <article class="car-for-sale">
              <figure> <img src="assets/img/car-for-sale-5.jpg" alt="" /> </figure>
              <div class="car-description">
                <h4><a href="autodealer-three.html"> BMW M3 2dr DCT 4.0</a> </h4>
                <ul class="dealer-list clearfix">
                  <li> <a href="#">Dealer </a> </li>
                  <li> <a href="#">Dealer Used </a> </li>
                  <li> <a href="#">VIC </a> </li>
                </ul>
                <ul class="car-properties" >
                  <li > <span>4 cyl, 1.5 L</span><span>Automatic</span> </li>
                  <li> <span>Hatchback</span><span>2002</span> </li>
                </ul>
                <div class="car-milage-wrap clearfix"> <span class="car-price pull-left"> $45,000 </span> <span class="car-milage pull-right"> <i class="svg-img milage-svg"> <img class="svg" src="assets/svg/milage-svg.svg" alt="" /> </i> 40,200 KM </span> </div>
              </div>
            </article>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3 col-lg-push-1">
          <section class="makes">
            <h2 class="h3"> Top Estados </h2>
            <div class="car-make-list">
              <ul>
                <li> Rio de Janeiro <span>1 </span> </li>
              </ul>
            </div>
            <a href="#">view all makes</a> </section>
          <section class="popular-cars">
            <h2 class="h3"> Top Usúarios </h2>
            <ul>
              <li>
                <a href="#" class="car-price"><figure><img src="assets/img/popular-car-1.jpg" alt="" /> </figure>
                <h4>Rafael Pereira Ceciliano Braga 5 *</h4></a>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </section>
  <!--  Car Sale -->

  <!--subscription Start Here -->
  <section class="subscription anim-section clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h2>Cadastre-se hoje para o Newsletter</h2>
        </div>
        <div class="col-md-6 col-sm-12 subscription-field">
          <input type="text" placeholder="Entre com seu e-mail" class="subscription-input" />
          <button class="btn btn-default btn-effect" type="button"> Enviar<i><img alt="" src="assets/img/arrow-btn.png"></i> </button>
        </div>
      </div>
    </div>
  </section>
  <!--subscription End Here -->

  <!--footer Section Start Here -->
  <footer id="footer"  >
    <div class="container">
      <div class="row">

        <!--primary-footer Start Here -->
        <section class="primary-footer clearfix">
          <div class="col-sm-6 col-md-3 intro footer-content">
            <h3>Quem Somos</h3>
            <div class="footer-block"> <strong>Nós amamos quem somos e estamos muito orgulhosos de fazer parte da sua renda extra.</strong>
              <p> Estamos oferecendo uma forma de você conseguir alugar seus bens com rapidez e segurança.</p>
              <p> Com nossa ferramenta você consegue saber o histórico de seu locatária.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 footer-content latets-article">
            <h3>Depoimentos</h3>
            <div class="row footer-block">
              <div class="col-xs-6 col-sm-12">
                <article class="article-content">
                  <figure class="article-pic"> <img src="assets/img/post-img.jpg" alt="Curabitur amet magna quam" /> </figure>
                  <div class="post-content">
                    <h4><a href="" title="Curabitur amet magna quam"> Amei essa forma de negociar.</a></h4>
                    <span class="post-date"><i class="fa fa-calendar"></i>March 31, 2014</span> </div>
                </article>
              </div>
              <div class="col-xs-6 col-sm-12">
                <article class="article-content">
                  <figure class="article-pic"> <img src="assets/img/post-img.jpg" alt="Curabitur amet magna quam" /> </figure>
                  <div class="post-content">
                    <h4><a href="" title="Curabitur amet magna quam"> Amei essa forma de negociar.</a></h4>
                    <span class="post-date"><i class="fa fa-calendar"></i>March 31, 2014</span> </div>
                </article>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 footer-content">
            <h3>Mata Do Site</h3>
            <div class="footer-block">
                <p> <a href="blog-post-1.html">Home</a> </p>
                <p> <a href="blog-post-1.html">Pesquisa</a> </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 footer-content vcard">
            <h3>Contato</h3>
            <div class="footer-block">
              <span class="tel"> <i class="fa fa-calendar">&nbsp;</i> <a href="tel:18003456789">55 21 986823562</a> </span> <span class="email"> <i class="fa fa-envelope">&nbsp;</i> <a href="mailto:rendabens@gmail.com">rendabens@gmail.com</a> </span> </div>
          </div>
        </section>
        <!--primary-footer End Here -->

      </div>
    </div>
    <div class="secondary-footer">
      <div class="container">
        <div class="row">
          <!--secondary-footer Start Here -->
          <section class="col-xs-12"> <span class="copyright">Renda Bens © Copyright 2017 - http://www.rendabens.com/</span>
            <ul class="social-icons">
              <li> <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a> </li>
            </ul>
          </section>
          <!--secondary-footer End Here -->
        </div>
      </div>
    </div>
  </footer>
  <a href="javascript:;" class="scroll-top"> <i class="fa fa-long-arrow-up"></i> </a>
  <!--footer Section End Here -->

</div>
<!--Wrapper Section End Here -->

<script src="assets/js/jquery-1.11.3.min.js"></script>
<script src="assets/js/modernizr.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/less.js"></script>
<script src="assets/js/jquery.countTo.js"></script>
<!--countdown Js-->
<script src="assets/js/jquery.plugin.js"></script>
<script src="assets/js/jquery.countdown.min.js"></script>
<script src="assets/js/masonry.pkgd.min.js"></script>
<!--countdown Js End -->
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.flexslider.js"></script>
<script src="assets/js/jquery.appear.js"></script>
<script src="assets/js/jquery.shuffle.js"></script>

<!-- flexslider Js -->
<script src="assets/js/site.js"></script>

</body>
</html>
